.resetWrapper {
  all: initial;

  /* * {
    /* all: unset; */
  /* } */
}
.resetWrapper,
.resetWrapper * {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__container {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
  color: white;
  overflow-y: hidden;
}
.headerText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}
.logo__container img {
  width: 80%;
  padding-top: 10px;
  margin-left: 20px;
  vertical-align: middle;
}
.delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 3px;
  padding: 5px;
}
.delivery p {
  font-size: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  flex: 1;
}

.search select,
.search input {
  padding: 6px;
  font-weight: bold;
  outline: 1px solid white;
}

.search select {
  border: none;
}

.search input {
  border: 1px solid white;
  width: 100%;
  margin-right: -2px;
}
.search svg {
  padding: 6px 14px 9px 8px;
  background: #febd69;
  color: #1a1a1a;
  margin-bottom: -4px;
}
.search svg:hover {
  background-color: #d59644;
}
.search:focus-within {
  border: 2px solid rgb(235, 161, 173);
}
.order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  gap: 10px;
}

.order__container a {
  text-decoration: none;
  color: white;
}
.order__container p {
  font-size: 10px;
}
.language {
  display: flex;
  width: 100px;
  padding: 10px;
}
.language img {
  width: 40%;
}

.language select {
  background-color: #1a1a1a;
  border: none;
  color: white;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  font-weight: bold;
  top: -7px;
  font-size: 20px;
  background-color: #1a1a1a;
  left: 14px;
  color: orange;
}

.order__container a:hover,
.delivery:hover,
.logo__container a:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.lower__container {
  background-color: #232f3e;
  color: white;
  padding: px 20px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.navItem {
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

.firstItem {
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .header__container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower__container ul li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
}
